.uploadBtn {
    box-sizing: border-box;
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-align: center;
}
.icon {
    text-align: center;
}
.tip {
    text-align: center;
    margin-top: 8px;
}
